<launch>

    <param name="use_sim_time" value="true" />
    <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find nav2d_tutorials)/world/tutorial4.world">
        <param name="base_watchdog_timeout" value="0" />
    </node>

    <group ns="robot_0">
        <param name="robot_id" value="0" />
        <param name="tf_prefix" type="string" value="robot_0"/>
        <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

        <node name="Navigator" pkg="nav2d_navigator" type="navigator">
            <rosparam file="$(find nav2d_tutorials)/param/navigator.yaml"/>
        </node>

        <node name="Operator" pkg="nav2d_operator" type="operator" >
            <remap from="scan" to="base_scan"/>
            <rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
            <rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
        </node>

        <node name="Mapper" pkg="nav2d_karto" type="mapper">
            <remap from="scan" to="base_scan"/>
            <remap from="karto_in" to="/shared_scans_r2"/>
            <remap from="karto_out" to="/shared_scans_r1"/>
            <rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
        </node>

        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0"/>
        </node>

        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
    </group>

    <group ns="robot_1">
        <param name="robot_id" value="1" />
        <param name="tf_prefix" type="string" value="robot_1"/>
        <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

        <node name="Navigator" pkg="nav2d_navigator" type="navigator">
            <rosparam file="$(find nav2d_tutorials)/param/navigator.yaml"/>
        </node>

        <node name="Operator" pkg="nav2d_operator" type="operator" >
            <remap from="scan" to="base_scan"/>
            <rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
            <rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
        </node>

        <node name="Mapper" pkg="nav2d_karto" type="mapper">
            <remap from="scan" to="base_scan"/>
            <remap from="karto_in" to="/shared_scans_r1"/>
            <remap from="karto_out" to="/shared_scans_r2"/>
            <rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
        </node>

        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0"/>
        </node>

        <node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
        <node name="Explore" pkg="nav2d_navigator" type="explore_client" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tutorial1.rviz" />

</launch>
